<ion-header>
    <ion-toolbar>
      <ion-title>Remetente</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-padding">
      <form [formGroup]="formGroup" (ngSubmit)="saveRemetente(); $event.preventDefault()">
        <ion-item>
          <ion-label stacked>CPF*</ion-label>
          <ion-input formControlName="cpf" type="text" mask="000.000.000-00"></ion-input>
        </ion-item>
        <p class="danger" *ngIf="formGroup.controls.cpf.dirty && formGroup.controls.cpf.errors" margin-left>Valor inválido</p>
        <ion-item>
          <ion-label stacked>Nome*</ion-label>
          <ion-input formControlName="nome" type="text"></ion-input>
        </ion-item>
        <p class="danger" *ngIf="formGroup.controls.nome.dirty && formGroup.controls.nome.errors" margin-left>Valor inválido</p>
        <ion-item>
          <ion-label stacked>Telefone*</ion-label>
          <ion-input formControlName="telefone" type="text" mask="(00)00000-0000"></ion-input>
        </ion-item>
        <p class="danger" *ngIf="formGroup.controls.telefone.dirty && formGroup.controls.telefone.errors" margin-left>Valor inválido</p>
        <ion-item>
          <ion-label stacked>Endereco*</ion-label>
          <ion-input formControlName="endereco" type="text"></ion-input>
        </ion-item>
        <p class="danger" *ngIf="formGroup.controls.endereco.dirty && formGroup.controls.endereco.errors" margin-left>Valor inválido</p>
        <ion-item>
          <ion-label stacked>Email*</ion-label>
          <ion-input formControlName="email" type="text"></ion-input>
        </ion-item>
        <p class="danger" *ngIf="formGroup.controls.email.dirty && formGroup.controls.email.errors" margin-left>Valor inválido</p>  
        <ion-button  expand=block type="submit" [disabled]="formGroup.invalid">Salvar</ion-button>
        <ion-button  expand=block type="button" color="danger" *ngIf="cpf != 'novo'" (click)="deleteRemetente(); $event.preventDefault()" >Excluir</ion-button>
      </form>
  </ion-content>
    
  