<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Enviar Mensagem
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-item>
        <ion-label>Remetente</ion-label>
        <ion-select [(ngModel)]="remetenteSelect" name="remetente" (ionChange)="remetenteSelected();">
          <ion-select-option *ngFor="let r of remetente" value={{r.cpf}}>{{r.nome}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
          <ion-label>Destinatário</ion-label>
          <ion-select [(ngModel)]="destinatarioSelect" name="destinatario" multiple="true" (ionChange)="destinatarioSelected();">
            <ion-select-option *ngFor="let d of destinatario" value={{d.cpf}}>{{d.nome}}</ion-select-option>
          </ion-select>
        </ion-item>
      <ion-button expand="block" outline (click)="sendMessage(); $event.preventDefault()" *ngIf="remetenteSelect && destinatarioSelect" >Enviar Mensagem</ion-button>
  </ion-content>
