<ion-header>
  <ion-toolbar>
    <ion-title>Destinatários</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>
      <ion-fab vertical="top" horizontal="center" edge slot="fixed">
        <ion-fab-button 
            navPush="CartPage" 
            routerLink="/destinatario-form/novo"
            routerDirection="root" mini><ion-icon name="add"></ion-icon>
        </ion-fab-button>
        <ion-fab-button 
            navPush="CartPage" 
            routerLink="/destinatario-file"
            routerDirection="root" mini><ion-icon name="archive"></ion-icon>
        </ion-fab-button>
      </ion-fab> 
    <ion-list>        
      <ion-item *ngFor="let d of destinatario" routerLink="/destinatario-form/{{ d.cpf }}" routerDirection="root">
        <h2> {{ d.nome }} </h2>
        </ion-item>
      </ion-list>    
</ion-content>
