<ion-header>
  <ion-toolbar>
    <ion-title>Importar Destinatários</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>
      <ion-card>
        <input type="file" #fileImportInput name="File Upload" id="txtFileUpload" (change)="fileChangeListener($event)"
        accept=".csv"/>
      </ion-card>
    <ion-list>        
      <ion-button  expand=block type="submit" *ngIf="destinatario.length>0" (click)="insertDestinatario(); $event.preventDefault()" routerLink="/destinatario" routerDirection="root">Confirmar Importação</ion-button>

      <ion-item *ngFor="let d of destinatario">
        <h2> {{ d.nome }} </h2>
        </ion-item>
      </ion-list>    
</ion-content>
