<ion-header>
  <ion-toolbar>
    <ion-title>Remetentes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
      <ion-fab vertical="top" horizontal="center" edge slot="fixed">
          <ion-fab-button 
            navPush="CartPage" 
            routerLink="/remetente-form/novo"
            routerDirection="root" mini><ion-icon name="add"></ion-icon></ion-fab-button>
        </ion-fab> 
    <ion-list>        
      <ion-item *ngFor="let r of remetente" routerLink="/remetente-form/{{ r.cpf }}" routerDirection="root">
        <h2> {{ r.nome }} </h2>
        </ion-item>
      </ion-list>    
</ion-content>

  
